GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# APPLE_CLIENT_ID=your-apple-client-id
# APPLE_CLIENT_SECRET=your-apple-client-secret

DATABASE_URL=
NODE_ENV=developement
BETTER_AUTH_URL=http://localhost:4000

# Brevo Email API
BREVO_API_KEY=